<div class="uk-clearfix">
  <% @comics.each do |comic| %>
  <figure
    class="uk-thumbnail uk-margin-left uk-margin-top"
    style="background: #2b2b2b url(<%= "#{comic[:thumbnail][:path]}.#{comic[:thumbnail][:extension]}" %>)">
    <a href="/upvote/<%= comic[:id]%>" data-comicId="<%= comic[:id]%>">&#9825;</a>

    <figcaption>
      <strong class="title"> <%= comic[:title] %> </strong> <br>
      <span class="numbers">
        <strong class="fav-count">#<%= comic[:issueNumber] %></strong>
        <%= comic[:dates][-1][:date].split('-')[0] %>
      </span>
    </figcaption>
  </figure>
  <% end %>
</div>
